@media screen only (max-width: 480px){
    #wel{
        position:relative;
    }
    #portimg{
        
    }
}
@media screen only (max-width: 700px) and (min-width: 500px){
    #wel{
    position:relative;
    left: 14%;
    }
#portimg{
    position:relative;
    left: 25%;   
    }
    #bio{
    width:360px;
    height: 200px;
    left: 35%;
    align-content: center;
    position:relative;
    }
    #nav{
        display:none;
    }
    #portf{
        position:relative;
    }
    #about{
        position:relative;
        align-content:center;
    }
    .bg-success{
        width:520%;
    }
}
@media screen only (max-width: 900px) and (min-width: 700px) {
    .bg-success{
        width:400%;
    }
    #wel{
    position:relative;
    left: 8%;
    }
    #portimg{
    margin-left:5px;
    left:55%;
    right:0%;
    }
    #bio{
    width:360px;
    height: 200px;
    left: 35%;
    right: 20%;
    align-content: center;
    position:relative;
    }
    #nav{
        display:none;
    }
    #about{
        position:sticky;
        align-content:center;
        width:600px;
    }

}
#wel{
    position:relative;
    left: 14%;
}
#portimg{
    position:relative;
    left: 25%;
    
}
hr{
    border: 1px solid black;

}
#bio{
    width:360px;
    height: 200px;
    left: 35%;
    align-content: center;
    position:relative;
}
#vertical{
    border: 1px solid black;
    width:200px;
    position:relative;
}
#socialmedia{
    display:inline;
    margin: auto;
}
a{
    color: black;
}
div ul li a:hover{
    color:forestgreen;
}
#social{
}
footer ul li{
    display:inline-block;
    padding-left: 15px;
}
footer ul li a:hover{
    color:forestgreen;
}
p{
    font-family: sans-serif, serif;
}
